<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Cover_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="" class="form-control form-control" size="50" name="row[cover_img]" type="text" value="{$row.cover_img}" disabled>
            </div>
            {if condition="$row['cover_img']"}
                <ul class="row list-inline plupload-preview" id="p-image">
                    <li class="col-xs-3">
                        <a href="{$row.cover_img}" data-url="{$row.cover_img}" target="_blank" class="thumbnail">
                            <img src="{$row.cover_img}" class="img-responsive">
                        </a>
                    </li>
                </ul>
            {/if}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Message')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" class="form-control form-control" data-rule="required" name="row[message]" style="height: 87px; " disabled>{$row.message}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Link')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-link" data-rule="" class="form-control form-control" name="row[link]" type="text" value="{$row.link}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_range')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[user_range]', $userRangeList, $row['user_range'], ['disabled'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('用户ID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_action_info" data-rule="" placeholder="格式:1,2,3.全部用户则不需要传此参数" class="form-control form-control" name="row[target_user_ids]" type="text" value="{$row.extend.target_user_ids}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_now')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_now]', $isNowList, null,  ['disabled'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_time" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[send_time]" type="text" value="{:date('Y-m-d H:i:s')}" disabled>
        </div>
    </div>
</form>
