<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control form-control" name="row[title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage form-control" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Key')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-key" data-rule="required" class="form-control form-control" name="row[key]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hash')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hash" data-rule="required" class="form-control form-control" name="row[hash]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Category_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-category_id" data-rule="required" data-source="category/selectpage" data-params='{"custom[type]":"video"}' class="form-control selectpage form-control" name="row[category_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Original_bit_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-original_bit_rate" data-rule="required" class="form-control form-control" step="0.01" name="row[original_bit_rate]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Direction')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-direction" data-rule="required" class="form-control form-control" name="row[direction]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Duration')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-duration" data-rule="required" class="form-control form-control" step="0.000001" name="row[duration]" type="number" value="0.000000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weight" data-rule="required" class="form-control form-control" name="row[weight]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Width')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-width" data-rule="required" class="form-control form-control" step="0.01" name="row[width]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Height')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-height" data-rule="required" class="form-control form-control" step="0.01" name="row[height]" type="number" value="0.00">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lng')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lng" data-rule="required" class="form-control form-control" step="0.0000001" name="row[lng]" type="number" value="0.0000000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Lat')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-lat" data-rule="required" class="form-control form-control" step="0.0000001" name="row[lat]" type="number" value="0.0000000">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Recommend')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-recommend" data-rule="required" class="form-control form-control" name="row[recommend]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Save_original_bkt')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-save_original_bkt" data-rule="required" class="form-control form-control" name="row[save_original_bkt]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bgmusic_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bgmusic_id" data-rule="required" data-source="bgmusic/index" class="form-control selectpage form-control" name="row[bgmusic_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bgmusic_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bgmusic_name" data-rule="required" class="form-control form-control" name="row[bgmusic_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Exists_cover_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-exists_cover_img" data-rule="required" class="form-control form-control" name="row[exists_cover_img]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_view_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_view_total" data-rule="required" class="form-control form-control" name="row[user_view_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_share_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_share_total" data-rule="required" class="form-control form-control" name="row[user_share_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_like_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_like_total" data-rule="required" class="form-control form-control" name="row[user_like_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_comment_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_comment_total" data-rule="required" class="form-control form-control" name="row[user_comment_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_user_like_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_user_like_total" data-rule="required" class="form-control form-control" name="row[real_user_like_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_user_comment_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_user_comment_total" data-rule="required" class="form-control form-control" name="row[real_user_comment_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_link_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_link_id" data-rule="required" data-source="source/link/index" class="form-control selectpage form-control" name="row[source_link_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_competition_production')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_competition_production" data-rule="required" class="form-control form-control" name="row[is_competition_production]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Source_video_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-source_video_id" data-rule="required" data-source="source/video/index" class="form-control selectpage form-control" name="row[source_video_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Forward_from_video_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-forward_from_video_id" data-rule="required" data-source="forward/from/video/index" class="form-control selectpage form-control" name="row[forward_from_video_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Direct_forward_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-direct_forward_total" data-rule="required" class="form-control form-control" name="row[direct_forward_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('All_forward_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-all_forward_total" data-rule="required" class="form-control form-control" name="row[all_forward_total]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Geohash')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-geohash" data-rule="required" class="form-control form-control" name="row[geohash]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Less_geohash')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-less_geohash" data-rule="required" class="form-control form-control" name="row[less_geohash]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Public_video_transcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-public_video_transcode" data-rule="required" class="form-control form-control" name="row[public_video_transcode]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Private_video_transcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-private_video_transcode" data-rule="required" class="form-control form-control" name="row[private_video_transcode]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Need_private_video_transcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-need_private_video_transcode" data-rule="required" class="form-control form-control" name="row[need_private_video_transcode]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Process_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-process_status" data-rule="required" class="form-control form-control" name="row[process_status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Process_done_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-process_done_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[process_done_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Create_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-create_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[create_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Update_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-update_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[update_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control form-control" name="row[status]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fix_weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fix_weight" data-rule="required" class="form-control form-control" name="row[fix_weight]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Last_update_weight')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-last_update_weight" data-rule="required" class="form-control form-control" name="row[last_update_weight]" type="number" value="0">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
