<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Order_sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_sn" data-rule="required" class="form-control form-control" name="row[order_sn]" type="text" value="{$row.order_sn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/user/index" data-field="nickname" class="form-control selectpage form-control" name="row[user_id]" type="text" value="{$row.user_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apply_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apply_price" data-rule="required" class="form-control form-control" name="row[apply_price]" type="number" value="{$row.apply_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" data-rule="required" class="form-control form-control" step="0.01" name="row[price]" type="number" value="{$row.price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Tax')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-tax" data-rule="required" class="form-control form-control" step="0.01" name="row[tax]" type="number" value="{$row.tax}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Service_charge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-service_charge" data-rule="required" class="form-control form-control" step="0.01" name="row[service_charge]" type="number" value="{$row.service_charge}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" class="form-control form-control" step="0.01" name="row[amount]" type="number" value="{$row.amount}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Should_money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-should_money" data-rule="required" class="form-control form-control" step="0.01" name="row[should_money]" type="number" value="{$row.should_money}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control form-control" step="0.01" name="row[money]" type="number" value="{$row.money}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Apply_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-apply_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[apply_time]" type="text" value="{$row.apply_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Admin_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-admin_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[admin_time]" type="text" value="{$row.admin_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Admin_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-admin_remark" data-rule="required" class="form-control form-control" name="row[admin_remark]" type="text" value="{$row.admin_remark}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_trace_sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_trace_sn" data-rule="required" class="form-control form-control" name="row[pay_trace_sn]" type="text" value="{$row.pay_trace_sn}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payfee_account')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payfee_account" data-rule="required" class="form-control form-control" name="row[payfee_account]" type="text" value="{$row.payfee_account}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payfee_real_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payfee_real_name" data-rule="required" class="form-control form-control" name="row[payfee_real_name]" type="text" value="{$row.payfee_real_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Payment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-payment" data-rule="required" class="form-control form-control" name="row[payment]" type="number" value="{$row.payment}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pay_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pay_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[pay_time]" type="text" value="{$row.pay_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Error_msg_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-error_msg_id" data-rule="required" data-source="error/msg/index" class="form-control selectpage form-control" name="row[error_msg_id]" type="text" value="{$row.error_msg_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Comment')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comment" data-rule="required" class="form-control form-control" name="row[comment]" type="text" value="{$row.comment}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control form-control" name="row[status]" type="number" value="{$row.status}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Log_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-log_id" data-rule="required" data-source="log/index" class="form-control selectpage form-control" name="row[log_id]" type="text" value="{$row.log_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Operator_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-operator_id" data-rule="required" data-source="operator/index" class="form-control selectpage form-control" name="row[operator_id]" type="text" value="{$row.operator_id}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
