<link rel="stylesheet" href="/assets/libs/layui/css/layui.css" media="all">

<table id="demo" lay-filter="test"></table>

<script src="/assets/libs/layui/layui.all.js"></script>

<script type="text/html" id="barDemo">
  {{# if (d.parent_id =="0"){}}
     <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
  {{#}}}
</script>

<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 312
    ,url: '/admin/{:url("opinion/feedback/detail")}/ids/{$ids}' //数据接口
    ,method: 'POST'
    ,limits: [1,10,20,30,40,50,60,70,80,90]
    ,where: {
      order_field: 'create_time',
      order_direction: 0
    }
    ,parseData: function(res){ //res 即为原始返回的数据
      return {
        "code": res.code, //解析接口状态
        "msg": res.msg, //解析提示文本
        "count": res.data.total, //解析数据长度
        "data": res.data.data //解析数据列表
      };
    }
    ,response: {
      statusCode: 1
    } 
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:60, sort: true, fixed: 'left'}
      ,{field: 'username', title: '名称', width:120, sort: true}
      ,{field: 'content', title: '内容', width:430}
      ,{field: 'image', title: '图片', width:150}
      // ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
    ]]
    ,page: true // 开启分页
  });

  window.operateEvents = {
    'click .view': function (e, value, row, index) {
        layer.open({
          type: 1,
          title: false,
          closeBtn: 0,
          area: 'auto',
          skin: 'layui-layer-nobg', //没有背景色
          shadeClose: true,
          content: '<img src="'+row.img+'"/>'
        });
    },
};


  //监听工具条
  table.on('tool(test)', function(obj){
    var data = obj.data;
    if(obj.event === 'detail'){
      layer.msg('ID：'+ data.id + ' 的查看操作');
    } else if(obj.event === 'del'){
      layer.confirm('真的删除行么', function(index){
        obj.del();
        layer.close(index);
      });
    } else if(obj.event === 'edit'){
      layer.open({
        area: ['900px', '700px'],
        maxWidth: 800,
        maxHeight: 600,
        type: 2, 
        content: '/admin/{:url("opinion/feedback/reply")}/ids/' + obj.id 
      }); 
      return false;
      layer.alert('编辑行：<br>'+ JSON.stringify(data))
    }
  });
});


</script>