<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('任务组')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mission_group" data-rule="required" class="form-control form-control" name="row[mission_group]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control form-control" name="row[title]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mission_explain')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mission_explain" data-rule="" class="form-control form-control" name="row[mission_explain]" type="text" value="" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Mission_tag')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mission_tag" data-rule="required" class="form-control form-control" name="row[mission_tag]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('任务类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <?php echo  build_radios('row[repeat_type]',$repeatTypeList,null) ?>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('奖励设置')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bonus_setting" data-rule="required" class="form-control form-control" name="row[bonus_setting]" type="text" placeholder="概率*下限-上限">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Bonus_limit')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bonus_limit" data-rule="required" class="form-control form-control" name="row[bonus_limit]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('数量条件')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-quantity_condition" data-rule="required" class="form-control form-control" name="row[quantity_condition]" type="number" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('状态')}:</label>
        <div class="col-xs-12 col-sm-8">
            <?php echo build_radios('row[status]',$statusList,null) ?>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
