<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control form-control" name="row[title]" type="text" value="{$row.title}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Message')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-message" data-rule="required" class="form-control  form-control" rows="5" name="row[message]" cols="50">{$row.message}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('跳转类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[action]',$actionList,$row['action'],['require'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('参数')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" data-rule="required" class="form-control form-control" name="row[action_param]" type="text" value="{$row.action_param}" placeholder="链接地址或视频id">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('用户范围')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[user_range]', $userRangeList, $row['extend']['type'], ['disabled'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('用户ID')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-app_action_info" data-rule="" placeholder="格式:1,2,3.选择全部用户则不需要传此参数" class="form-control form-control" name="row[target_user_ids]" type="text" value="{$row.extend.data}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('立即发送')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_now]',$isNowList,$row['is_now'],['disabled'=>''])}
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_time" data-rule="required" class="form-control datetimepicker form-control" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[send_time]" type="text" value="{$row.send_time_text}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('消息类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[msg_type]', ['普通','系统'], $row['msg_type'], ['require'=>''])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
